.form{
    background-color: $gray-100;
    width: 100%;
    max-width: 555px;
}
.form-check-input{
    background-color: $dark;
    min-width: 30px;
    height: 30px;
    border: 0 none;
    margin-right: 1rem;
}