.navbar-light{
    background-color: $gray-100;
}
.navbar-light .navbar-brand{
    color: $colour-primary;
    font-family: $headings-font-family;
    font-style: italic;
    font-weight: 700;
    font-size: $font-size-lg;
    margin-right: 4rem;
 
}
.navbar-expand-lg .navbar-nav .nav-link{
    font-size: $font-size-base;
    padding: 0 20px;
}
.nav-link{
    width: 100%;
  
}
.nav-link.active{
    background-color: white;
    border-radius: 3px;
    color: $gray-300;
    
}
.navbar-toggler, .navbar-light{
    border: none;
    border-color: transparent;
}
.form-search{
    border-radius: 3px;
}
.form-control.btn-primary{
    background-color: $colour-primary;
    color: white;
}